body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color:currentColor;
}

img {
    display:block;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        /*margin-right: 76px;*/
        padding-top: 17px;
        padding-bottom: 17px;
    }

.logo-colored {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.header-container {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-list {
    display: none;
}

/*.contacts-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}*/

address {
    display: none;
}

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    line-height: 0;
    border: none;
}

.mob-menu {
width: 320px;
width: 100%;
background-color: #FFF;
height: 100vh; 
position: fixed;
top: 0;
padding-top: 24px;
padding-bottom: 40px;
padding-right: 24px;
padding-left: 16px;
}

.menu-close-btn {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E9FC;
    margin-bottom: 24px;
    /*padding: 0;
    position: absolute;
    top: 24px;
        right: 24px;*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-menu-link:focus {
    color: #404BBF;
}

.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: 128px;
}

.mob-contacts-item {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mob-icons-list {
    display: flex;
    gap: 40px;
   position: absolute;
   bottom: 40px;
   margin-top: 48px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.hero {
    /*padding: 72px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-name.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;*/
    padding: 72px 0;
    background: rgba(46, 47, 66, 0.70);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    margin: 0 auto;
    background-position: center;
}

@media  (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
}

.button-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
    background-color: #404BBF;
}

/*.features {
    padding-top: 120px;
    padding-bottom: 120px;
}*/

.icon-background {
    display: none;
   
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list-item {
    width: 100%;
}

.features-subtitle {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-img {
    width: 264px;
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-info {
    padding: 32px 0;
    text-align: center;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-member-info:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.socials-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.socials-list-item {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.socials-icon {
    fill: #f4f4fd;
}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404BBF;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.portfolio-img-text {
    position: absolute;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    background: #4D5AE5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
position: relative;
overflow:hidden;
}

.portfolio-item-picture:hover .portfolio-img-text {
transform: translateY(0%);
}

.portfolio-item-picture {
    width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



.portfolio-item-picture:hover {
    
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.portfolio-item-description {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em; 
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.logo-colored-footer {
    color: #f4f4fd;
    
}

.footer-descr {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
    margin-top: 16px;
}

.social-media-wrap {
    margin-top: 72px;
}

.footer-socials-text {
    color:  #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.socials-icon-link:hover,
.socials-icon-link:focus {
    background-color: #31D0AA;
}

.socials-icon-link {
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.footer-icons-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    
}

.subscribe-text {
    margin-top: 72px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.email-input {
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #FFF;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.email-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    gap: 16px;
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon {
    fill: #ffffff;
}

.close-btn:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.comment-field {
    margin-bottom: 16px;
}

.form-text-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-input:focus {
    border-color: #4D5AE5;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-input {

}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus
 {
    background-color: #404BBF; 
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .open-menu-btn {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }
    
    .header-list {
    display: flex;
    gap: 40px;
}

.address {
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
    
    .contacts-list-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
    color: #404BBF;
}

    .header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF; 
}

.current {
position: relative;
color: #404BBF; 
}

.current::after {
    content: "";
    border-radius: 2px;
    background: #404BBF;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.hero {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-tab.jpg);
    width: 100%;
}

.features-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

.features-list-item {
    width: 356px;
}

.features-subtitle {
    text-align: start;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tab-2x.jpg);
    }
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
}

.team-members {
    column-gap: 24px;
    row-gap: 64px;
}

.portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
}

.portfolio-item-picture {
    width: calc((100% - 24px) / 2);
}



.footer-container {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 530px;
}

.footer-logo-descr {
    align-self:last baseline;
}

.social-media-wrap {
    align-self:first baseline;
    margin-top: 0;
}

.logo-title {
    align-self: flex-start;
}

.footer-socials-text {
    text-align: left;
}

.footer-descr {
    width: 264px;
}

.subscribe-text {
    text-align: start;
    
}

.footer-form {
    flex-direction: row;
    align-items: flex-start;
}

.email-input {
    width: 264px;
}

.modal {
    width: 408px;
}

}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-list-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

.hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-dt.jpg);
    max-width: 1440px;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-dt-2x.jpg);
    }
}

.icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    margin-bottom: 8px;
}

.features-list {
    flex-wrap: nowrap;
}

.features-list-item {
    width: 264px;
}

.features-subtitle {
    font-size: 20px;
    }

.features-item-text {
    font-weight: 400;
}

.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-members {
    flex-direction: row;
    gap: 24px;
}

.portfolio-list {
    justify-content: center;
}

.portfolio-item-picture {
    width: 360px;
}

.footer-container {
    gap: unset;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-logo-descr {
    margin-right: 120px;
}

.footer {
    display: flex;
    padding: 100px 15px;
}

.footer-form {
    gap: 24px;
}

.subscribe-text {
    margin-top: 0px;
}

.social-media-wrap {
    margin-right: 80px;
}

}

